// Variables
@import "variables";

.supertest {
    color: #000;
}

.navtest {

  padding: 3rem 1rem;
}

.vje {
    background-image: url("/images/header.png");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
}

nav {
  background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
  color: #b0413e;
}

.gumb {
  border-radius: 1;
}
